@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Roboto Slab", serif;
  color: #7f888f;
  line-height: 1.5;
}

h1,
h2,
p,
pre,
ul {
  margin: 0;
}

.nav {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  border-bottom: 2px solid #f56a6a;
}

.nav ul li {
  margin: 0 10px;
  padding: 10px;
  display: inline-block;
}

.nav ul li a {
  text-decoration: none;
  color: #7f888f;
}

.nav ul li a:hover {
  color: #f56a6a;
}

.header {
  text-align: center;
}

.header.header-dark {
  border-bottom: 0.5px solid #d1d4d6;
}

.header .title {
  color: #3d4449;
  font-size: 3.5rem;
  font-weight: 500;
}

.header .subtitle {
  color: #7f888f;
  font-size: 1.25rem;
  font-weight: 300;
}

.section .heading {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

main {
  margin: 10px auto;
  padding: 1rem;
}

main .desc {
  border-radius: 0.375em;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.65;
}

main .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-items li {
  margin-bottom: 5px;
}

.space-items li input {
  margin-left: 2em;
  color: #7f888f;
  padding: 3px 5px;
}

.btn {
  height: 3.5em;
  margin: 0 0.25rem;
  padding: 0 1.75rem;
  background-color: transparent;
  border: 2px solid #f56a6a;
  border-radius: 0.375em;
  color: #f56a6a !important;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(245, 106, 106, 0.05);
  outline: none;
}

.btn:active {
  background-color: rgba(245, 106, 106, 0.15);
  outline: none;
}

.btn:focus {
  outline: none;
}

.part2 #quiz .question {
  margin-top: 1rem;
}

.part2 #quiz .question p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.part2 #quiz-result {
  margin-top: 1rem;
  color: #f56a6a;
  font-size: 1.5rem;
}

.part3 .container {
  height: 800px;
  width: 400px;
  margin: 0 auto;
}

.part3 img {
  cursor: pointer;
}

.part3 img.disabled {
  opacity: 0.4;
  cursor: initial;
}

.part3 img.bg-black {
  background-color: black;
}

.part3 #transition {
  height: 36px;
  width: 80px;
}

.part3 #canvas {
  width: 100%;
  height: 100%;
}

.part4 input,
.part4 select {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 0.375em;
  border: 2px solid #3d4449;
  font-size: 1rem;
  color: #3d4449;
  font-family: "Roboto Slab", serif;
}

.part4 input[readonly],
.part4 select[readonly] {
  color: #7f888f;
  border: 0px;
  border-bottom: 2px solid;
  border-radius: 0;
  border-color: #7f888f;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center-x, .center-xy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-y, .center-xy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.code {
  background-color: #eee;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.95rem;
  font-style: normal;
}

.code-block {
  max-height: 600px;
  margin-bottom: 10px;
  padding: 1.25rem;
  overflow: auto;
  display: inline-block;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.container {
  width: 70%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.bg-dark, .nav.nav-dark, .header.header-dark {
  background-color: #f9fafb;
}

.hr {
  color: #f9fafb;
}

.mt-0, .my-0, .m-0 {
  margin-top: 0;
}

.mr-0, .mx-0, .m-0 {
  margin-right: 0;
}

.ml-0, .mx-0, .m-0 {
  margin-left: 0;
}

.mb-0, .my-0, .m-0 {
  margin-bottom: 0;
}

/* padding */
.pt-0, .py-0, .p-0 {
  padding-top: 0;
}

.pr-0, .px-0, .p-0 {
  padding-right: 0;
}

.pl-0, .px-0, .p-0 {
  padding-left: 0;
}

.pb-0, .py-0, .p-0 {
  padding-bottom: 0;
}

.mt-1, .my-1, .m-1 {
  margin-top: 0.25rem;
}

.mr-1, .mx-1, .m-1 {
  margin-right: 0.25rem;
}

.ml-1, .mx-1, .m-1 {
  margin-left: 0.25rem;
}

.mb-1, .my-1, .m-1 {
  margin-bottom: 0.25rem;
}

/* padding */
.pt-1, .py-1, .p-1 {
  padding-top: 0.25rem;
}

.pr-1, .px-1, .p-1 {
  padding-right: 0.25rem;
}

.pl-1, .px-1, .p-1 {
  padding-left: 0.25rem;
}

.pb-1, .py-1, .p-1 {
  padding-bottom: 0.25rem;
}

.mt-2, .my-2, .m-2 {
  margin-top: 0.5rem;
}

.mr-2, .mx-2, .m-2 {
  margin-right: 0.5rem;
}

.ml-2, .mx-2, .m-2 {
  margin-left: 0.5rem;
}

.mb-2, .section .heading, .part2 section h2, .my-2, .m-2 {
  margin-bottom: 0.5rem;
}

/* padding */
.pt-2, .py-2, .p-2 {
  padding-top: 0.5rem;
}

.pr-2, .px-2, .p-2 {
  padding-right: 0.5rem;
}

.pl-2, .px-2, .p-2 {
  padding-left: 0.5rem;
}

.pb-2, .py-2, .p-2 {
  padding-bottom: 0.5rem;
}

.mt-3, .part2 section h2, .my-3, .m-3 {
  margin-top: 1rem;
}

.mr-3, .mx-3, .m-3 {
  margin-right: 1rem;
}

.ml-3, .mx-3, .m-3 {
  margin-left: 1rem;
}

.mb-3, .my-3, .m-3 {
  margin-bottom: 1rem;
}

/* padding */
.pt-3, .py-3, .p-3 {
  padding-top: 1rem;
}

.pr-3, .px-3, .p-3 {
  padding-right: 1rem;
}

.pl-3, .px-3, .p-3 {
  padding-left: 1rem;
}

.pb-3, .py-3, .p-3 {
  padding-bottom: 1rem;
}

.mt-4, .my-4, .hr, .m-4 {
  margin-top: 1.5rem;
}

.mr-4, .mx-4, .m-4 {
  margin-right: 1.5rem;
}

.ml-4, .mx-4, .m-4 {
  margin-left: 1.5rem;
}

.mb-4, .my-4, .hr, .m-4 {
  margin-bottom: 1.5rem;
}

/* padding */
.pt-4, .py-4, .header, .p-4 {
  padding-top: 1.5rem;
}

.pr-4, .px-4, .p-4 {
  padding-right: 1.5rem;
}

.pl-4, .px-4, .p-4 {
  padding-left: 1.5rem;
}

.pb-4, .py-4, .header, .p-4 {
  padding-bottom: 1.5rem;
}

.mt-5, .my-5, .m-5 {
  margin-top: 3rem;
}

.mr-5, .mx-5, .m-5 {
  margin-right: 3rem;
}

.ml-5, .mx-5, .m-5 {
  margin-left: 3rem;
}

.mb-5, .my-5, .m-5 {
  margin-bottom: 3rem;
}

/* padding */
.pt-5, .py-5, .p-5 {
  padding-top: 3rem;
}

.pr-5, .px-5, .p-5 {
  padding-right: 3rem;
}

.pl-5, .px-5, .p-5 {
  padding-left: 3rem;
}

.pb-5, .py-5, .p-5 {
  padding-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */