@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

$colors: (
  primary: #f56a6a,
  charcoal: #3d4449,
  slate-grey: #7f888f,
  quick-silver: #9fa3a6,
  cultured: #f9fafb,
);

@function color($color) {
  @return map-get($colors, $color);
}

$border-radius: 0.375em;

body {
  font-family: "Roboto Slab", serif;
  color: color("slate-grey");
  line-height: 1.5;
}

h1,
h2,
p,
pre,
ul {
  margin: 0;
}

.nav {
  height: 60px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &.nav-dark {
    @extend .bg-dark;
  }

  ul {
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style-type: none;
    padding: 0;

    border-bottom: 2px solid color("primary");

    li {
      margin: 0 10px;
      padding: 10px;

      display: inline-block;

      a {
        text-decoration: none;
        color: color("slate-grey");

        &:hover {
          color: color("primary");
        }
      }
    }
  }
}

.header {
  @extend .py-4;

  text-align: center;

  &.header-dark {
    @extend .bg-dark;
    border-bottom: 0.5px solid lighten(color("slate-grey"), 30%);
  }

  .title {
    color: color("charcoal");
    font-size: 3.5rem;
    font-weight: 500;
  }

  .subtitle {
    color: color("slate-grey");
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.section {
  .heading {
    @extend .mb-2;

    font-size: 2.5rem;
    font-weight: 400;

    text-align: center;
  }

  .body {
  }
}

main {
  margin: 10px auto;
  padding: 1rem;

  .desc {
    // border: 2px solid $light-grey;
    border-radius: $border-radius;
    font-weight: 400;

    margin-bottom: 2rem;

    line-height: 1.65;
  }

  .btns {
    display: flex;
    justify-content: center;
  }
}

.space-items {
  li {
    margin-bottom: 5px;

    input {
      margin-left: 2em;
      color: color("slate-grey");
      padding: 3px 5px;
    }
  }
}

.btn {
  height: 3.5em;
  margin: 0 0.25rem;
  padding: 0 1.75rem;
  background-color: transparent;

  border: 2px solid color("primary");
  border-radius: $border-radius;

  color: color("primary") !important;
  font-size: 0.9rem;
  font-weight: 700;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: transparentize(color("primary"), 0.95);
    outline: none;
  }

  &:active {
    background-color: transparentize(color("primary"), 0.85);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.part2 {
  section {
    h2 {
      @extend .mt-3;
      @extend .mb-2;
    }
  }
  #quiz {
    .question {
      margin-top: 1rem;

      p {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }
  }

  #quiz-result {
    margin-top: 1rem;
    color: color("primary");
    font-size: 1.5rem;
  }
}

.part3 {
  .container {
    height: 800px;
    width: 400px;

    margin: 0 auto;
  }

  img {
    cursor: pointer;

    &.disabled {
      opacity: 0.4;
      cursor: initial;
    }

    &.bg-black {
      background-color: black;
    }
  }

  #transition {
    height: 36px;
    width: 80px;
  }

  #canvas {
    width: 100%;
    height: 100%;
  }
}

.part4 {
  input,
  select {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: $border-radius;
    border: 2px solid color("charcoal");

    font-size: 1rem;
    color: color("charcoal");
    font-family: "Roboto Slab", serif;

    &[readonly] {
      color: color("slate-grey");

      border: 0px;
      border-bottom: 2px solid;
      border-radius: 0;
      border-color: color("slate-grey");
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-xy {
  @extend .center-x;
  @extend .center-y;
}

.hidden {
  display: none;
}

.code {
  background-color: #eee;

  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.95rem;
  font-style: normal;
}

.code-block {
  max-height: 600px;
  margin-bottom: 10px;
  padding: 1.25rem;

  overflow: auto;

  display: inline-block;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.container {
  width: 70%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: color("cultured");
}

.hr {
  @extend .my-4;
  color: color("cultured");
}

$margins: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
);

@each $n, $value in $margins {
  .mt-#{$n} {
    margin-top: $value;
  }

  .mr-#{$n} {
    margin-right: $value;
  }

  .ml-#{$n} {
    margin-left: $value;
  }

  .mb-#{$n} {
    margin-bottom: $value;
  }

  .mx-#{$n} {
    @extend .mr-#{$n};
    @extend .ml-#{$n};
  }

  .my-#{$n} {
    @extend .mt-#{$n};
    @extend .mb-#{$n};
  }

  .m-#{$n} {
    @extend .mx-#{$n};
    @extend .my-#{$n};
  }

  /* padding */
  .pt-#{$n} {
    padding-top: $value;
  }

  .pr-#{$n} {
    padding-right: $value;
  }

  .pl-#{$n} {
    padding-left: $value;
  }

  .pb-#{$n} {
    padding-bottom: $value;
  }

  .px-#{$n} {
    @extend .pr-#{$n};
    @extend .pl-#{$n};
  }

  .py-#{$n} {
    @extend .pt-#{$n};
    @extend .pb-#{$n};
  }

  .p-#{$n} {
    @extend .px-#{$n};
    @extend .py-#{$n};
  }
}
